---
import StarIcon from "../../assets/icons/star.svg";

export type DifficultyBadgeVariant = "card" | "detail";

type Props = {
  difficulty: "beginner" | "intermediate" | "advanced";
  variant?: DifficultyBadgeVariant;
};

const { difficulty, variant = "card" } = Astro.props as Props;

const textClass =
  variant === "detail" ? "text-body-large-strong" : "text-body-small-strong";

const currentLocale = Astro.currentLocale || "ja";

const displayText =
  currentLocale === "ja"
    ? {
        beginner: "初心者向け",
        intermediate: "中級者向け",
        advanced: "上級者向け",
      }
    : {
        beginner: "Beginner",
        intermediate: "Intermediate",
        advanced: "Advanced",
      };
---

<div class="badge" data-difficulty={difficulty} data-variant={variant}>
  <StarIcon class="star-icon" />
  <span class={textClass}>{displayText[difficulty]}</span>
</div>

<style>
  .badge {
    display: flex;
    gap: var(--space-xxs);
    color: var(--text-on-fill);
    border-radius: var(--radius-objects);
    width: fit-content;
    align-items: center;
  }

  .badge[data-difficulty="beginner"] {
    background-color: var(--surface-beginner);
  }

  .badge[data-difficulty="intermediate"] {
    background-color: var(--surface-intermediate);
  }

  .badge[data-difficulty="advanced"] {
    background-color: var(--surface-advanced);
  }

  .badge span {
    margin-top: -2px;
  }

  .star-icon {
    fill: var(--text-on-fill);
  }

  .badge[data-variant="card"] {
    padding: 0 var(--space-xs) 0 var(--space-xxs);
  }

  .badge[data-variant="detail"] {
    padding: var(--space-xxxs) var(--space-s) var(--space-xxxs) var(--space-xs);
  }

  .badge[data-variant="card"] .star-icon {
    width: 12px;
    height: 12px;
  }

  .badge[data-variant="detail"] .star-icon {
    width: 24px;
    height: 24px;
  }

  .badge[data-variant="detail"] span {
    margin-top: 0;
  }
</style>
