---
import { Image } from "astro:assets";
import type { Sponsor } from "../sponsors";

interface Props {
  sponsors: Sponsor[];
}

const { sponsors } = Astro.props;

if (sponsors.length === 0) {
  return null;
}
---

<div class="sponsor-section">
  <h4 class="text-h4">Gopher</h4>
  <ul>
    {
      sponsors.map((sponsor) => (
        <li>
          <Image
            src={sponsor.imageSrc}
            alt={sponsor.name}
            loading="lazy"
            priority
          />
          <div class="name">{sponsor.name}</div>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .sponsor-section {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    padding: 8px;
    gap: 40px;
    max-width: 100%;
    margin: 0 auto;
  }

  li {
    padding: 24px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  li .name {
    max-width: 188px;
    width: 100%;
  }

  img {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1/1;
    max-width: 96px;
    width: 100%;
    height: auto;
  }

  img:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 768px) {
    ul {
      grid-template-columns: repeat(2, auto);
      gap: 8px;
      padding: 0;
    }

    li .name {
      max-width: 167px;
      width: 100%;
    }
  }
</style>
