---
import AboutEn from "../../components/top/AboutEn.astro";
import MainVisual from "../../components/top/MainVisual.astro";
import SponsorRecruitment from "../../components/top/SponsorRecruitment.astro";
import Sponsors from "../../components/top/Sponsors.astro";
import News from "../../components/top/News.astro";
import Layout from "../../layouts/Layout.astro";
import ScholarshipRecruitment from "../../components/top/ScholarshipRecruitment.astro";
---

<Layout title="Go Conference 2026" twitterCard="summary_large_image">
  <main>
    <MainVisual />
    <News />
    <AboutEn />
    <SponsorRecruitment />
    <ScholarshipRecruitment />
    <Sponsors />
  </main>
</Layout>
