---
import About from "../components/top/About.astro";
import MainVisual from "../components/top/MainVisual.astro";
import SponsorRecruitment from "../components/top/SponsorRecruitment.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Go Conference 2026">
  <main>
    <MainVisual />
    <About />
    <SponsorRecruitment />
  </main>
</Layout>
