---
import About from "../components/top/About.astro";
import MainVisual from "../components/top/MainVisual.astro";
import News from "../components/top/News.astro";
import Layout from "../layouts/Layout.astro";
import ScholarshipRecruitment from "../components/top/ScholarshipRecruitment.astro";
---

<Layout title="Go Conference 2026" twitterCard="summary_large_image">
  <main>
    <MainVisual />
    <News />
    <About />
    <ScholarshipRecruitment />
  </main>
</Layout>
