---
import Chip from "../ui/Chip.astro";
import SectionTitle from "../ui/SectionTitle.astro";
---

<section id="about">
  <div id="about-top">
    <SectionTitle>
      <span class="section-title">
        What is <span style="color: var(--text-accent);"
          >Go Conference<wbr /></span
        >?
      </span>
    </SectionTitle>
    <span class="text-body-large">
      Go Conference is a conference for users of the programming language "Go".
    </span>
  </div>

  <div id="about-details">
    <div class="row">
      <div class="chip-container">
        <Chip text="Date & Time" />
      </div>
      <!-- TODO 開催時間の追加 -->
      <span class="text-body-large-strong"> September 11, 2026 (Fri)</span>
    </div>
    <div class="row">
      <div class="chip-container">
        <Chip text="Venue" />
      </div>
      <span class="text-body-large-strong">
        Nakano Central Park South 1F / B1F, <br class="pc-only" /><wbr />4-10-2
        Nakano, Nakano-ku, Tokyo, Japan
      </span>
    </div>
    <div class="row">
      <div class="chip-container">
        <Chip text="Ticket" />
      </div>
      <span class="text-body-large-strong">Coming soon</span>
    </div>
  </div>
</section>

<style>
  .pc-only {
    display: block;
  }

  .sp-only {
    display: none;
  }

  section#about {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-m);
    padding-bottom: var(--space-l);
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
  }

  #about-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-s);
  }

  .row {
    max-width: 784px;
    display: flex;
    padding: var(--space-xs) 0;
    gap: var(--space-m);
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--surface-disabled);

    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  .row .chip-container {
    width: 200px;
  }

  @media screen and (max-width: 768px) {
    .pc-only {
      display: none;
    }

    .sp-only {
      display: block;
    }

    section#about {
      padding: var(--space-m) var(--space-s);
      gap: var(--space-s);
    }

    .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: var(--space-xs);
      padding: var(--space-s) 0;
    }

    .section-title {
      word-break: keep-all;
      overflow-wrap: anywhere;
    }
  }
</style>
