---
import Button from "../ui/Button.astro";
import SectionTitle from "../ui/SectionTitle.astro";

const currentLocale = Astro.currentLocale || "ja";
---

<section id="sponsor-recruitment">
  <SectionTitle>
    {
      currentLocale === "en" ? (
        <span class="section-title">
          <span style="color: var(--text-accent);">S</span>tudent Support
          Program
        </span>
      ) : (
        <span class="section-title">
          <span style="color: var(--text-accent);">学</span>生支援制度
          応募受付中
        </span>
      )
    }
  </SectionTitle>
  <span>
    {
      currentLocale === "en"
        ? "You can apply for the Go Conference Student Support Program from the link below."
        : "Go Conferenceの学生支援制度への応募は以下リンクからできます。"
    }
  </span>
  <div class="button-container">
    <Button variant="secondary" href="#" size="large" isBlankLink>
      {
        currentLocale === "en"
          ? "Apply for Student Support"
          : "学生支援制度 応募フォーム"
      }
    </Button>
  </div>
  <div class="button-wrapper">
    <span>
      {
        currentLocale === "en"
          ? "Please see the link below for details on the Student Support Program."
          : "学生支援制度に関する詳細は以下からご確認ください。"
      }
    </span>
    <div class="button-container">
      <Button variant="tertiary" href="#" size="large" isBlankLink>
        {
          currentLocale === "en"
            ? "Student Support Details"
            : "学生支援制度 詳細"
        }
      </Button>
    </div>
  </div>
</section>

<style>
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-l) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: center;
  }

  .section-title {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .button-container {
    max-width: 300px;
    width: 100%;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    section {
      padding: var(--space-m) var(--space-s);
      gap: var(--space-s);
    }
  }
</style>
