---
import Button from "../ui/Button.astro";
import SectionTitle from "../ui/SectionTitle.astro";
---

<section id="sponsor-recruitment">
  <SectionTitle>
    <span class="section-title"
      ><span style="color: var(--text-accent);">ス</span>ポンサー募集中</span
    >
  </SectionTitle>

  <div class="sponsor-notice-container">
    <span>Go Conferenceへのスポンサー応募は以下リンクからできます。</span>
    <div class="sponsor-notice">
      <p>Goルド・シルバー・ランチ・ドリンクスポンサーの募集は終了しました。</p>
      <p>ブロンズ・Gopherスポンサーは引き続き募集中です。</p>
    </div>
  </div>
  <div class="button-container">
    <Button
      variant="secondary"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdH5gsb4teQ5hdFi9GaCFtNdNNCw1G4qdzyw2NoSWYQCYplow/viewform"
      size="large"
      isBlankLink
    >
      スポンサー募集フォーム
    </Button>
  </div>
  <div class="button-wrapper">
    <span>スポンサーに関するFAQは以下からご確認ください。</span>
    <div class="button-container">
      <Button
        variant="tertiary"
        href="https://docs.google.com/document/d/1jZqZfcH7NqCMyPXt_ZhvhlFXj4fKF-TNfXG_GIHBsfo/edit"
        size="large"
        isBlankLink
      >
        スポンサー FAQ
      </Button>
    </div>
  </div>
</section>

<style>
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-l) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: center;
  }

  .section-title {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .sponsor-notice-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    align-items: center;
  }

  .sponsor-notice {
    color: var(--text-accent2);
    text-align: center;
  }

  .sponsor-notice p {
    margin: 0;
  }

  .button-container {
    max-width: 300px;
    width: 100%;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    section {
      padding: var(--space-m) var(--space-s);
      gap: var(--space-s);
    }
  }
</style>
