---
import Button from "../ui/Button.astro";
import SectionTitle from "../ui/SectionTitle.astro";

const currentLocale = Astro.currentLocale || "ja";
---

<section id="sponsor-recruitment">
  <SectionTitle>
    {
      currentLocale === "en" ? (
        <span class="section-title">
          <span style="color: var(--text-accent);">S</span>ponsor Recruitment
        </span>
      ) : (
        <span class="section-title">
          <span style="color: var(--text-accent);">ス</span>ポンサー募集中
        </span>
      )
    }
  </SectionTitle>

  <div class="sponsor-notice-container">
    <span>
      {
        currentLocale === "ja"
          ? "Go Conferenceへのスポンサー応募は以下リンクからできます。"
          : "You can apply to sponsor Go Conference from the link below."
      }
    </span>
    <div class="sponsor-notice">
      {
        currentLocale === "ja" ? (
          <>
            <p>
              Goルド・シルバー・ランチ・ドリンクスポンサーの募集は終了しました。
            </p>
            <p>ブロンズ・Gopherスポンサーは引き続き募集中です。</p>
          </>
        ) : (
          <>
            <p>
              Recruitment for Gold, Silver, Lunch, and Drink sponsors has
              closed.
            </p>
            <p>Bronze and Gopher sponsors are still being accepted.</p>
          </>
        )
      }
    </div>
  </div>
  <div class="button-container">
    <Button
      variant="secondary"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdH5gsb4teQ5hdFi9GaCFtNdNNCw1G4qdzyw2NoSWYQCYplow/viewform"
      size="large"
      isBlankLink
    >
      {
        currentLocale === "ja"
          ? "スポンサー募集フォーム"
          : "Sponsor Application Form"
      }
    </Button>
  </div>
  <div class="button-wrapper">
    <span>
      {
        currentLocale === "ja"
          ? "スポンサーに関するFAQは以下からご確認ください。"
          : "Please see the link below for sponsor FAQs."
      }
    </span>
    <div class="button-container">
      <Button
        variant="tertiary"
        href="https://docs.google.com/document/d/1jZqZfcH7NqCMyPXt_ZhvhlFXj4fKF-TNfXG_GIHBsfo/edit"
        size="large"
        isBlankLink
      >
        {currentLocale === "ja" ? "スポンサー FAQ" : "Sponsor FAQ"}
      </Button>
    </div>
  </div>
</section>

<style>
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-l) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: center;
  }

  .section-title {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .sponsor-notice-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    align-items: center;
    text-align: center;
  }

  .sponsor-notice {
    color: var(--text-accent2);
    text-align: center;
  }

  .sponsor-notice p {
    margin: 0;
  }

  .button-container {
    max-width: 300px;
    width: 100%;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    section {
      padding: var(--space-m) var(--space-s);
      gap: var(--space-s);
    }
  }
</style>
