---
import About from "./About.astro";
import FAQ from "./FAQ.astro";
import MainVisual from "./MainVisual.astro";
import News from "./News.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Go Conference 2026" twitterCard="summary_large_image">
  <main>
    <MainVisual />
    <News />
    <About />
    <FAQ />
  </main>
</Layout>
