---
import type { ProgramOrganizer } from "../program";

type Props = {
  program: ProgramOrganizer;
};

const { program } = Astro.props as Props;
const { height, spHeight } = program;

const style = [
  height ? `--organizer-height: ${height}` : null,
  spHeight ? `--organizer-sp-height: ${spHeight}` : null,
]
  .filter(Boolean)
  .join("; ");
---

<div class="card" style={style || undefined}>
  <div class="time-container text-body-medium-strong">
    <span>{program.timeString}</span>
  </div>
  <div class="title-container text-body-large-strong">
    <span>{program.title}</span>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxs);
    padding: var(--space-xs) var(--space-s);
    border: 2px solid var(--surface-disabled);
    border-radius: var(--radius-objects);
    height: var(--organizer-height, auto);
    box-sizing: border-box;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .card {
      height: var(--organizer-sp-height, auto);
    }
  }
</style>
