---
import OpenInNewIcon from "../../assets/icons/open_in_new.svg";
import DoubleArrowIcon from "../../assets/icons/double_arrow.svg";

type Props = {
  href: string;
  isBlankLink?: boolean;
  withArrowIcon?: boolean;
  text: string;
};

const {
  href,
  isBlankLink = false,
  withArrowIcon = false,
  text,
} = Astro.props as Props;
---

<a
  href={href}
  target={isBlankLink ? "_blank" : undefined}
  rel={isBlankLink ? "noopener noreferrer" : undefined}
>
  <span class="text-body-large-strong">{text}</span>
  {isBlankLink && <OpenInNewIcon class="link-icon" fill="red" />}
  {withArrowIcon && <DoubleArrowIcon class="link-icon double-arrow" />}
</a>

<style>
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xxxs);
    color: var(--text-primary);
    cursor: pointer;
    width: 100%;
  }

  a:hover {
    color: var(--text-accent);
  }

  .link-icon {
    width: 20px;
    height: 20px;
    fill: var(--text-primary);
    margin-top: 2px;
    flex-shrink: 0;
  }

  a:hover .link-icon {
    fill: var(--text-accent);
  }
</style>
